/*
    Default background
*/
.default-bg {
    background: #DE6262;
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
}

.block__container {
    background:#fff;
    border-radius: 10px;
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.block__section h1, h2, p{
    text-align: center;
}

.block__section h1:after{
    content:" ";
    width:100px;
    height:5px;
    background:#FEB58A;
    display:block;
    margin-top:20px;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto
}

.block__section {
    padding: 50px 30px;
}

.basic-block {
    min-height: 100vh;
    overflow: auto;
    padding: 50px 0;
}

.basic-block__withNav {
    min-height: 94.2vh;
    height: 100%;
    overflow: hidden;
    padding: 50px 0;
}

/*
    LoginComponent
 */

.login-form {
    padding: 10px;
}

.btn-login {
    float: right;
    font-weight:600;
}

.login-block-side {
    background-color: #2F2D2E;
    border-radius: 0 10px 10px 0;
}

.login-block-side{
    text-align: center;
}

.login-block-side__img-block{
    padding: 50px 0;
}
.img-block{
    width: 120px;
    height: 120px;
}

.login-block-side__title-block h4{
    color: whitesmoke;
    font-size: 25px;
}

/*
    RegisterComponent Block
 */

.register-form {
    padding: 30px 0;
    text-align: center;
}

.form-group input::placeholder{
    opacity: 0.5;
    text-align: left;
}


/*
    Nav Bar
 */
.sign-out {
    cursor: pointer;
}

.nav-right {
    float: right;
}

.nav-icon {
    padding: 5px 0;
}

.nav-icon i{
    padding: 5px;
}

/*
    Forget Pass Page
*/

.forgetpass-block{
    height: 100vh;
    overflow: auto;
    padding: 60px 0;
}


/*
    Profile Page
*/
.profilePage__block {
    position: relative;
    background-image: linear-gradient(to bottom, #3e5151, #29675b, #227b54, #3f8d3d, #6e9b0a);
}

.profileImage-card {
    height: 300px;
    width: 300px;
    display: block;
    margin: 10px auto;
}